doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/main.js')
    script(src='https://use.fontawesome.com/6665b66eb7.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rubik')
  body
    nav
      .nav-wrapper#main-nav
        a.brand-logo(href='/')
          h1#brand logo
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.fa.fa-bars(aria-hidden='true')
        ul.right.hide-on-med-and-down
          li.myli
            a.waves-effect.waves-light.btn(href='/') Home
          li.myli
            a.waves-effect.waves-light.btn(href="/cart") Cart
              if session.cart
                span.new.badge= `${session.cart.totalQty}`
          li.myli
            a.dropdown-button.btn(href='#', data-activates='dropdown1') User Management!
            ul#dropdown1.dropdown-content
              if login
                li
                  a.myA(href='/user/profile') Profile
                li
                  a.myA(href='/user/logout') Logout
              else
                li
                  a.myA(href='/user/signin') Login
                li
                  a.myA(href='/user/signup') Register
        ul#mobile-demo.side-nav
          li.myli
            a.myA(href='/') Home
          li.myli
            a.myA(href='/cart') Cart
          li.myli
            a.myA(href='/user/signin') Login
  block content
