body {
	
  font-family: 'Rubik', sans-serif;
}
.myli:hover{
	color: #07D6FD;
}
nav{
	background-color: #F0F2EF;
}
.myA{
	color: #22B573;
}
#main-nav{
	margin-bottom: 1rem;
}
#title{
	color: #272425;
}
#top-margin{
	margin-top: 1rem;
}
#iconMove{
	position: relative;
	top: 19px;
    right: -18rem;
}
#img-size{
	max-width: 50%;
	margin-left: 6rem;
}
.brand-logo{
	padding: 1reml;
}
#brand{
	text-indent: -9999px;
	background-image: url('/images/logo2.svg');
	background-repeat: no-repeat;
	background-size: contain;                    
    width: 200px;
    height: 60px;
	margin: 0.3rem 0 0 1rem;

}
.buttons a.btn-floating.halfway-fab{
	position: relative; 
	right: 0px;
	bottom: 0px;
}
