body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.myli:hover{
	color: #07D6FD;
}
nav{
	background-color: #3A3E4B;
}
#title{
	color: #272425;
}
#top-margin{
	margin-top: 1rem;
}
#iconMove{
	position: relative;
	top: 19px;
    right: -18rem;
}
#img-size{
	max-width: 50%;
	margin-left: 6rem;
}
.brand-logo{
	padding: 1reml;
}
#brand{
	text-indent: -9999px;
	background-image: url('/images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;                     
    width: 600px;
	margin-left: 1rem;
}
