extends ../layout

block content
  .container
      h2.center-align Welcome
  .row
    .col.s12.m6.l3
      .card
          .card-image
            img(src='images/breads.png', id="img-size")
            p
              a.btn-floating.halfway-fab.waves-effect.waves-light#iconMove
                i.fa.fa-heart(aria-hidden='true')
            a.btn-floating.halfway-fab.waves-effect.waves-light.red
              i.fa.fa-plus(aria-hidden='true')
          .card-content
            p.right-align#top-margin $4.99
            span.card-title#title Bread
            p 
             |I am bread
    .col.s12.m6.l3
      .card
          .card-image
            img(src='images/breads.png', id="img-size")
            p
              a.btn-floating.halfway-fab.waves-effect.waves-light#iconMove
                i.fa.fa-heart(aria-hidden='true')
            a.btn-floating.halfway-fab.waves-effect.waves-light.red
              i.fa.fa-plus(aria-hidden='true')
          .card-content
            p.right-align#top-margin $4.99
            span.card-title#title Bread
            p 
             |I am bread

