{% extends "/base.html.twig" %}

{% block body %}
<div class="grid-x grid-padding-x" style="background-color:red;">

  <div class="small-12 medium-6 medium-offset-3 cell" id="cart">
    <div class="card">
      <div class="card-divider">
        <h4>ERROR</h4>
      </div>
      <div class="card-section">
          <p>thanks for shopping with us.</p>
      </div>
      <div class="card-section">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
              <form action="/cart/checkout" method="post">
                <div class="grid-x grid-padding-x">


                  <div class="small-11 small-offset-1 cell total">
                    <h3>Bought Items</h3>
                    <ul class="no-bullet">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </ul>
                    <h3>Total Value</h3>
                    <div class="price_total">
                    </div>

                  </div>

                </div>
              </form>



            </div>
        </div>
      </div>
    </div>


  </div>


</div>
{% endblock %}
