{% extends "/layout.html.twig" %}

{% block body %}

<div class="grid-x grid-padding-x">
  <div class="small-12 medium-6 medium-offset-3 cell">
    <div class="card">

      <div class="card-divider">
        <h4>Login</h4>
      </div>

      <div class="card-section">
        <form>
          <div class="grid-x">
            <div class="small-auto cell">
              <label>e-mail
                <input type="text" placeholder="enter your e-mail">
              </label>
            </div>
            <div class="small-auto cell">
              <label>Password
                <input type="text" placeholder="enter your password">
              </label>
            </div>
          </div>
        </form>
      </div>

    </div>



  </div>

</div>

{% endblock %}
