{% extends "/base.html.twig" %}

{% block body %}
<div class="grid-x grid-padding-x">

  <div class="small-12 medium-4 cell" id="cart">
    <div class="card">
      <div class="card-divider">
        <h4>User</h4>
      </div>

      <div class="card-section profile">

        <img src="https://u.smedata.sk/blogidnes/article/9/49/499729/499729_article_photo_Ilc4RSd0_600x.jpeg?r=27b3a" alt="">
        <ul class="no-bullet">

        </ul>

      </div>


  </div>

</div>
{% endblock %}
