{% trans_default_domain 'FOSUserBundle' %}

<div class="grid-x grid-padding-x">
  <div class="small-12 medium-6 medium-offset-3 cell">
    <div class="card">

      <div class="card-divider">
        <h4>Register</h4>
      </div>

      <div class="card-section">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}"   class="button small"/>
            </div>
        {{ form_end(form) }}
        <div class="message-form">
          <p>are you a member?, please  <a href="/login">login</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
