extends ../layout

block content
  .container
    h1 Login
    if hasErrors
      div
        each message in messages
          p=message
    .row
      form.col.s12(action="/user/signin", method="POST")
        .row
          .input-field.col.s12
            input#email.validate(type='email', name="email")
            label(for='email') Email
            //- label= csrfToken
        .row
          .input-field.col.s12
            input#password.validate(type='password', name='password')
            label(for='password') Password
        .row
          p Not a member? 
            a(href="/user/signup") Sign Up!
          input(type="hidden", name="_csrf", value=`${ csrfToken }`)
          button.btn.waves-effect.waves-light(type='submit')
            | Login
